@charset "utf-8";
/* CSS Document */

body {
	background:url(img/splash.png) top center no-repeat #222;
}

h1 {
	background:url(../../../global/img/logo.png);
}

.main-content {
	background:#333;
}

.project-properties {
	background:#333;
}

.project-status-active {
	background:#444;
	float:left;
	width:940px;
	padding:0 10px;
}

.project-status-title {
	color:#fff;
	font-weight:bold;
	font-size:35px;
	margin:5px 0 0 0;
	display:inline-block;
	letter-spacing:-.05em;
	font-family:Arial, Helvetica, sans-serif;
}

.project-details {
	min-height:500px;
	margin:0px;
	background:#333;
	width:640px;
	float:right;
}
.col-post {
	border-bottom-color:#fff;
}
.project-details *,
.project-info * {
	color:#fff;
}

.project-details p,
.project-info p {
	margin:10px;
	font-size:12px;
	line-height:20px;
}

.project-info {
	width:320px;
	float:left;
}