@charset "utf-8";
/* CSS Document */


body {
	font-family:"Telex", Georgia, "Times New Roman", Times, sans-serif;
	background:#efefef;
	font-size:14px;
}

li, p {
	line-height:20px;
}

a {
	color:#333;
}

li {
	margin:0 0 5px 0;
}

.wrapper {
	padding:0 25px;
	position:relative;
}

header {
	border-bottom:#333 3px solid;
}

header h1, header h2 {
	padding:0;
	margin:5px 0;
}

header h1 span {
	font-weight:normal;
	font-size:70%;
}

header h2 {
	font-weight:normal;
}

h1, h2, h3, h4 {
	font-family:Arial, Helvetica, sans-serif;
}

.officers {
	width:20%;
	float:left;
}


.officers h2,
.officers h3  {
	font-size:15px;
	margin:0;
	padding:0;
}

.officers h2 {
	margin:0 0 12px 0;
}

.officers h3 {
	margin:0 0 5px 0;
	font-size:16px;
	font-weight:bold;
}

.officers .member-list {
	margin:0 0 40px 0;
	padding:0;
}
.officers .member-list span {
	display:block;
}
.officers .member-list li {
	list-style:none;
	margin:0 0 15px 0;
}

.content {
	width:80%;
	float:right;
}


footer {
	float:left;
	clear:both;
	padding:5px 0;
	text-align:center;
	width:100%;
	border-top:#333 3px solid;
}

footer p {
	padding:5px 0;
	margin:0;
	font-size:12px;
}

.content ol li { list-style-type: upper-roman; font-weight: bold; text-transform:uppercase; }

.content ol li ol li { list-style-type: lower-alpha; font-weight:normal; text-transform:none;}

.content ol li ol li ol li { list-style-type:lower-roman; text-transform:none;}

.content ol li ol li ol li ol li { list-style-type: square; text-transform:none;}

.content ol li ol li ol li ol li ol li { list-style-type:lower-alpha; text-transform:none;}