.alumni-profile span  {
	font-family: "Droid Sans", sans-serif;
	font-style: normal;
	font-size:14px;

	display:block;
	padding:10px;
	border-bottom:1px solid #ddd;
}

.alumni-profile .quote {
	font-style: italic;
	font-family: "Georgia", serif;
	border-bottom:1px solid #ddd;
}
