.alumni-profile .quote,
.alumni-profile .year  {
	display:block;
	padding:10px;
	font-style: italic;
	font-family: "Georgia", serif;
	border-bottom:1px solid #ddd;
}

.alumni-profile .year  {
	font-family: "Droid Sans", sans-serif;
	font-style: normal;
}