#main-page-splash h2 {
	font-size:65px;
	position:absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
}


.main-content {
	background:none;
}

#main-page-splash {
	height:320px;
	background:#444;
	border:0;
    box-shadow:rgba(0,0,0,.4) 0px 4px 6px;
    border-bottom:1px #333 solid !important;
}

#photos-content h3 {
	background:#111;
}