@import url("documents.css");

.grid_9 #header,
.main-content #footer {
    display: none;
}

#column_1 {
    display:none;
}

#column_2 {
    font-size:12px;
}


/* Sidebar */

#sidebar {
	padding:0;
	margin:0;	
}

#sidebar li { 
	list-style: none;
	font-weight: bold;
	text-transform:uppercase; 
	background: #222;
	color:#fff;

	padding: 0 0 0 15px;
	margin: 0;
}

#sidebar li ol li { 
	margin:0 0 0 -55px;

	list-style: none;
	font-weight:normal; 
	text-transform:none;
	background:#fff;
	color:#333;
}

#sidebar li ol li span {
	display: block;
	height:auto;
	text-align: left;

	margin:0 0 0 -15px;
	padding: 2px 10px;
}

#sidebar li ol li .position {
	font-weight: bold;
	background: #eee;
	border: solid #ccc;
	border-width:1px 0;
}

#sidebar li ol li .name {
	padding:2px 20px 2px 21px;
}
/* Minutes Content */
.minutes-content ol {
	padding:0;
	margin:0;
}

.minutes-content ol li { 
	list-style: none;
	font-weight: bold;
	text-transform:uppercase; 
	padding:3px 10px;
	background: #222;
	color:#fff;
}

.minutes-content ol li ol li { 
	padding:1px 45px;
	margin:0 -10px;
	list-style: none;
	font-weight:normal; 
	text-transform:none;
	background:#333;
	color:#fff;
}
.minutes-content ol li ol li ol li { 
	list-style: none;
	text-transform:none;
	background:#eee;
	color:#333;
	border-top:1px solid #ccc;

	padding-left:60px;
	margin:0 -45px;
}

.minutes-content ol li ol li ol li ol li { 
	border-top:none;
	border-top:1px solid #ccc;

	list-style-type: none; 
	text-transform:none;
	background:#fff;
	color:#333;
	font-weight: bold;
	padding-left:70px;
	margin:0 -45px 0 -60px;
}

.minutes-content ol li ol li ol li ol li ol li { 
	border-top:0;
	list-style-type:lower-alpha;
	text-transform:none;
	margin-left:30px;
	padding-left:0;
	font-weight: normal;

}

.minutes-content ol li ol li ol li ol li ol li ol li { 
	font-weight: normal;
	list-style-type:square;
}


