@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 400px) {

	body {
		font-size:25px;
		width:100%;
	}


	.wrapper {
		width:auto !important;
		margin:0 !important;
	}

	.github {
		text-align: center;
	}

	.github img {
		width:80%;
		margin:10%;
	}

	ul li, ol li {
		padding: .3em;
		margin: .3em;
	}

	/* Make base containers max width */

	.main-content {
		width:100%;
	}

	.main-content .content-module {
		width:100%;
	}

	.label{
		font-size:20px !important;
	}

	.container_12 {
		width:100%;
		margin:0;
		padding:0;
	}

	.container_12 .grid_1,
	.container_12 .grid_2,
	.container_12 .grid_3,
	.container_12 .grid_4,
	.container_12 .grid_5,
	.container_12 .grid_6,
	.container_12 .grid_7,
	.container_12 .grid_8,
	.container_12 .grid_9, 
	.container_12 .grid_10 
	.container_12 .grid_11
	.container_12 .grid_12 {
		width:100%;
		margin:0;
		padding:0;
		float:none;
	}

	/* Header and footer */
	#header {
		padding:0;
		margin:0;

		background:#4889D2;
	}

	#header .grid_6 {
		background:blue;
	}
	#header h1  {
		display: block;
		width:100%;
		height:auto;
		background:none;
	}
	#header h1 a {
		width:100%;
		height:100%;
		display: block;
		text-align:center;
	}

	#header h1 a .text-header {
		font-family: "Open Sans", sans-serif;
		display: block;
		font-size:2em;
		letter-spacing:-.07em;
		padding:20px 0;
	}
	#header .grid_6{
		margin:0;
		padding:0;
		background: rgba(0,0,0,.4);
	}

	#footer {
		margin:0;
		width:100%;
		float:none;
	}

	#footer #address_content {
        display: block;
    	float:none;
    	margin:0;
    	width:100%;
	}

	/* 
		Google Search Box 
		TODO: Fix this on mobile
	*/

	.gsc-search-box {
		padding:0;
		margin:0;
		width:100%;
		display: none;
	}

	.gsc-input {
		height:1.6em;
		font-size:1.5em;
	}
	.gsc-search-box table{
		margin:0;
		padding:0;

		background:red;
	}

	/* Navigation */

	#nav {
		height: auto;
		background: #333; 
		text-align: center;
		font-size:1.2em;
		float:none;
		margin:0;
		width:100%;
		padding:0;
	}

	#nav ul {
		display: none;
	}

	#nav select {
		padding:10px 0;
		background:none;
		color:#fff;
		width:inherit;
		font-size:1.3em;
	}

	.minutes-view-sidebar {
		display: none;
	}

	.meeting-documents-sidebar {
		display: none;	
	}

	/* Index Page */

	.index-feed,
	.index-photos {
		display: none;
	}

	#splash {
		width:100%;
	}

	#main-page-splash img {
		display: block;
		width:100%;
	}

	#main-page-splash {
		width:100%;
		float:none;
		position: static;
		background: blue;
	}

	.link-list li a, p {
		font-size: 1.8em !important;
		padding:1em !important;
	}


	/* Button */

	.button {
		font-size: 2.5em !important;
		padding:1em;
	}
	
	/* Content Module */

	.content-module h2,
	.content-module h3{
		font-size:3em;
	}

}
