body {
    background: url(../img/project.jpg) top center no-repeat #969696;
}
#main-page-splash {
    background: none;
    border:0;
}
.main-content {
    background:none;
}
#main-page-splash h2,
#main-page-splash h3 {
    color:#333;
}

/* Project Module Styles */

.project img {
    display: block;
}

.project p {
    border-top:1px solid #ddd;
    background:url(../img/index-module-bg.png) 0px -100px repeat-x #fff; 

    margin:0;
    padding:10px 15px;
}

/* Project Splash */
.project-splash {
    height:400px;
    background:none !important;
}
.project-splash h2 {
    background:#4889D2 !important;
    position:absolute;
    bottom:0;
    left:0px;
}

/* Container for Other Projects */

.other-projects {
    margin-top:20px;
}