body {
    background: url(../img/project.jpg) top center no-repeat #969696;
}

#main-page-splash {
    background: none;
    border:0;
}

#main-page-splash h2,
#main-page-splash h3 {
    color:#333;
}
/* Project Splash */

.project-splash {
    height:400px;
    background:none !important;
}
.project-splash h2 {
    background:#4889D2 !important;
    position:absolute;
    bottom:0;
    left:0px;
}

