@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic);

body, html {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family: "Droid Sans", "Arial", "Helvetica", sans-serif;
	background:url(../img/bg.png) top center no-repeat #222;
}

img, a { outline:none; border:0 }
h1, h2, h3, h4 {
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight:normal;
	font-style:italic;
	letter-spacing:-0.02em;
}

h1 { margin:0; 
   	 background:url(../img/logo.png) top center no-repeat; 
	 height:25px;
	 width:221px; }
	 
h1 a {
	display:block;
	height:25px;
}

h1 img { display:none; }
p, ul li, ol li { 
	font-size:13px;
	line-height:21px; 
}
h1 a{
	color:#fff;
	text-decoration:none;
}

#nav {
    background:url(../img/navi.png) top center repeat-x #222;
	width:960px !important;
	height:30px;
	float:left;

    border-top-right-radius:5px;
    border-top-left-radius:5px;
    margin:10px 0 0 0;
}
#nav ul {
	margin:0 0 0 0;
	padding:0;
}

#nav ul li {
	float:left;
	font-family: "Droid Sans", "Arial", "Helvetica", sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	list-style:none;
}

#nav ul li.right {
	float:right;
}
#nav ul li a {
	color:#fff;
	padding:4px 15px;
	display:block;
	text-decoration:none;

	border-width:0px 1px;
	border-color:#222;
	border-style:solid;
}

#nav ul li:first-child a {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#nav ul li:last-child a {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

#nav ul li a:hover,
#nav ul li.select a {
    border-color:#333;
    background:url(../img/navi_over.png) top center repeat-x #222;
}

/* Breadcrumb */

#breadcrumb {
	background:#222;
	padding:5px 10px;
	width:920px;
	color:#fff;
	font-size:14px;
}

#breadcrumb a {
	color:#fff;
}

.big-button {
	padding:10px;
	margin:10px 5px;
}

#search {
    float:right;
    margin:0;
}

#search input {
    margin:0;
    padding:5px 10px;
    border:0;
    float:left;
}

#search input[type=button] {
    background:#4889D2;
    color:#fff;
}
.main-content {
    float:left;
    margin:20px 0 0 0;
    border-radius:2px;
    padding:10px 0 0 0;
    color:#333;
    background:url(../img/index-module-bg.png) top center repeat-x #fff; 
}
/* footer */
#footer {
    background:#333;
    height:50px;
    float:left;
    width:960px;
    border-top:1px solid #555;
    margin:20px 0 0 0;
}

.wrapper {
    margin:20px auto 0 auto;
    width:960px;
}

.content-module {
    margin-bottom:10px;
    background:url(../img/index-module-bg.png) top center repeat-x #fff; 
    color:#333;
    box-shadow:rgba(0,0,0,.4) 0px 1px 4px;

}

.content-module p {
    padding:0px 10px 5px 10px;
}

.content-module h2,
.content-module h3 {
    color:#fff;
    padding:5px 10px;
    margin:0;
    background:#4889D2;
    font-weight:normal;
    font-size:16px;
}

.button {
    background:#4889D2;
    color:#fff;
    font-weight:bold;
    border-radius:2px;
    text-decoration:none;
    padding:3px 10px;
    display:inline-block;
    margin:15px 10px 15px 0;
    font-size:14px;
    box-shadow:rgba(0,0,0,.7) 0px 1px 0px;
}
.button:hover {
    box-shadow:rgba(0,0,0,.4) 0px -1px 0px;
}
.button:active {
    box-shadow:rgba(0,0,0,.4) 0px 3px 4px inset;
    border:rgba(0,0,0,.4) 1px solid;
}

/* Normal Spalsh */

#main-page-splash {
    width:960px;
    float:left;
    position:relative;
}

#main-page-splash h2,
#main-page-splash h3 {
    margin:0;
    padding:5px 20px;
    text-shadow:none;
    color:#fff;
    font-size:60px;
}

#main-page-splash h3 {
    font-size:35px;
}

#address_content {
    color:#fff;
    font-size:12px;
    margin:10px;

}
