@charset "utf-8";
/* CSS Document */

body {
	background:url(img/splash.png) top center no-repeat #4989d2;
}

h1 {
	background:url(../../../global/img/logo.png);
}nav {
	background:#333;
}

.project-splash h2 {
	background: #333 !important;
	border-bottom-color:#333;
}

